<html>
	<head>
		<link rel="stylesheet" href="/assets/css/reveal.css">
		<link rel="stylesheet" href="/assets/css/theme/night.css">
		<link rel="stylesheet" href="/assets/css/theme/hljs-monokai-sublime.css">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section data-markdown data-separator="^\n---\n$" data-separator-notes="^Note:">
				{{{body}}}
				</section>
			</div>
		</div>
		<script src="/assets/js/head.min.js"></script>
		<script src="/assets/js/reveal.js"></script>
		<script>
		Reveal.initialize({
			center: false,
			slideNumber: 'c/t',
			transition: 'none',
			parallaxBackgroundImage: '/assets/img/{{background}}',
			parallaxBackgroundSize: '2100px 900px',
			dependencies: [
				// Interpret Markdown in <section> elements
				{ src: '/assets/js/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
				{ src: '/assets/js/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
				// Syntax highlight for <code> elements
				{ src: '/assets/js/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
				{ src: '/assets/js/notes.js', async: true }
			]
		});
		</script>
	</body>
</html>
