<div class="container">

  <div class="starter-template">
    <h1>{{title}}</h1>
    <p class="lead">{{title}} is a series of presentations aimed at making development concepts accessable to non-technical people.</p>
		<ul>
			<li><a href="/part1">Part 1: Technology and Terminology</a></li>
			<li><a href="/part2">Part 2: Practical Training</a></li>
		</ul>
  </div>

</div><!-- /.container -->
