{{!< slides }}

<section data-markdown data-separator="^\n---\n$" data-separator-vertical="^\n--\n$">
	<script type="text/template">
		{{{markdown "part1_section1"}}}
		{{{markdown "part1_section2"}}}
		{{{markdown "part1_section3"}}}
	</script>
</section>
